In [3]:
mylist = [1,2,3,4,5]
result = mylist.append(6)
print (result)  # here why assigning is not working ?

None

In [4]:
mylist = [1,2,3,4,5]
mylist.append(6)
print (mylist)

[1, 2, 3, 4, 5, 6]

In [5]:
mylist = [1,2,3]
mylist.extend([4,5])
print(mylist)

[1, 2, 3, 4, 5]

In [14]:
mylist = [1,2,3]
mylist.insert(1,'a')
print(mylist)

[1, 'a', 2, 3]

In [77]:
mylist = [1,2,3,4,5,2]
mylist.remove(2)
print(mylist) # it removes only first occurence of specified element

[1, 3, 4, 5, 2]

In [10]:
mylist = [1,2,3,4,5]
mylist.pop(2)
print(mylist) # if we do not specify index it will remove the last element

[1, 2, 4, 5]

In [78]:
mylist = [1,2,3]
result = mylist.pop() #if we call this function it returns the popped element
print (result)
print (mylist)

3
[1, 2]

In [80]:
mylist = [1,2,3]
mylist.clear()
print(mylist)

[]

In [24]:
mylist = [1,2,3,'apple',5,2]
mylist.index('apple') # if the element is not found it will be an error.

3

In [25]:
my_list = [1, 2, 3, 4, 2, 5]

# Find the index of the first occurrence of 2
index1 = my_list.index(3) 
print(index1)  # Output: 2

# Find the index of the first occurrence of 2 starting from index 2
index2 = my_list.index(2, 2) 
print(index2)  # Output: 4

2
4

In [27]:
mylist = [1,2,3,4,5,2,5,5,5]
mylist.count(5)

4

In [35]:
mylist = [8,3,4,7,1,2,9]
mylist.sort()
print (mylist)

[1, 2, 3, 4, 7, 8, 9]

In [37]:
mylist.sort(reverse = True)
print(mylist)

[9, 8, 7, 4, 3, 2, 1]

In [44]:
mylist = ['z','a','y','b']
mylist.sort()
print(mylist)

['a', 'b', 'y', 'z']

In [43]:
mylist = ['z','b','c',1,3]
mylist.sort()
print(mylist) # we can sort inetegrs and characters . But combination wont work

TypeError: '<' not supported between instances of 'int' and 'str'

In [46]:
mylist = [8,9,1,2,3,4,5]
mylist.reverse()
print (mylist)

[5, 4, 3, 2, 1, 9, 8]

In [47]:
mylist = [1,2,3]
copylist = mylist.copy()
print (copylist)

[1, 2, 3]

In [51]:
mylist = [1,2,3,4,5,'a','b']
print(len(mylist))

7

In [61]:
mylist = [1,2,3]
total = sum(mylist)
print(f'Total: {total}')
min_value = min(mylist)
print (f'Minimum Value {min_value}')
max_value = max(mylist)
print (f'maximun Value {max_value}')

Total: 6
Minimum Value 1
maximun Value 3

In [62]:
mystring = "Nanditha"
mylist = list(mystring)
print (mylist)

['N', 'a', 'n', 'd', 'i', 't', 'h', 'a']

In [64]:
fruits = ['apple','banana']
del fruits

# List Indexing

In [65]:
mylist = [10,20,30,40,50]
mylist[2]

30

In [66]:
mylist [-1]

50

In [67]:
print(mylist[1:4])

[20, 30, 40]

In [68]:
print(mylist[::2]) #2 counts but thats included

[10, 30, 50]

In [70]:
mylist = [10,20,30,40,50]
print(mylist[:3]) # start index is not specified so from starting till 2nd index as end is not inclusive.

[10, 20, 30]

In [71]:
print(mylist[2:])

[30, 40, 50]

In [72]:
print(mylist[:])

[10, 20, 30, 40, 50]

In [73]:
#We can add a new element to a list by specifying the index. Thats why list are mutable.
mylist = [1,3,4]
mylist[1] = 20
print (mylist)

[1, 20, 4]