# Data Definition Language Using Python

In [ ]:
conda install -c anaconda mysql-connector-python

In [3]:
import mysql.connector
connection = mysql.connector.connect(
    host='localhost',  # Corrected: Only the host address here
    port=3306,         # Specify the port separately
    user='root',
    password='Pnan2ms#1',
    database='db_project',
    use_pure= True)

mycursor = connection.cursor()
print(connection)

<mysql.connector.connection.MySQLConnection object at 0x0000021E806CF310>

In [2]:
import mysql.connector
print(mysql.connector.__version__)

9.1.0

In [9]:
import mysql.connector
connection = mysql.connector.connect(
    host='localhost',  # Corrected: Only the host address here
    port=3306,         # Specify the port separately
    user='root',
    password='Pnan2ms#1',
    database='db_project',
    use_pure= True)

mycursor = connection.cursor()
print(connection)

mycursor.execute("Select * from persons")
out = mycursor.fetchall()
for x in out:
    print(x)

<mysql.connector.connection.MySQLConnection object at 0x0000021E801ABC90>
(1, 'Kuruveetil', 'Nanditha', '44 Downey Dr', 'Manchester')

In [18]:
import mysql.connector
connection = mysql.connector.connect(
    host='localhost',  # Corrected: Only the host address here
    port=3306,         # Specify the port separately
    user='root',
    password='Pnan2ms#1',
    database='college',
    use_pure= True)

mycursor = connection.cursor()

mycursor.execute("SHOW TABLES")
out = mycursor.fetchall()
for x in out:
    print(x)
    
#mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

('dept',)
('library',)
('teacher',)

In [17]:
import mysql.connector
mydb = mysql.connector.connect(
    host='localhost',  # Corrected: Only the host address here
    port=3306,         # Specify the port separately
    user='root',
    password='Pnan2ms#1',
    database='college',
    use_pure= True)
mycursor = mydb.cursor()
sql = "DROP TABLE customers"
mycursor.execute(sql)
print("Table dropped")

Table dropped

# Data Manipulation Using Python

Inserting single value

In [20]:
import mysql.connector
mydb = mysql.connector.connect(
    host='localhost',  # Corrected: Only the host address here
    port=3306,         # Specify the port separately
    user='root',
    password='Pnan2ms#1',
    database='school',
    use_pure= True)
mycursor = mydb.cursor()
sql = "Insert into sub_details(sub_id,sub_name) values (%s,%s)" 
# even though one value is integer dont use %d use %s itself. Sql automatically type convert the value

val = (7,"Physics")
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount,"Record Inserted")

1 Record Inserted

Inserting Mutliple Values

In [22]:
import mysql.connector
mydb = mysql.connector.connect(
    host='localhost',  # Corrected: Only the host address here
    port=3306,         # Specify the port separately
    user='root',
    password='Pnan2ms#1',
    database='school',
    use_pure= True)
mycursor = mydb.cursor()
sql = "Insert into sub_details(sub_id,sub_name) values (%s,%s)" 
# even though one value is integer dont use %d use %s itself. Sql automatically type convert the value

val = [
    (8,"Chemistry"),
    (9,"Bology"),
    (10,"Graphics")]

mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount,"Record Inserted")

3 Record Inserted

Update table using sql query

In [24]:
sql = "Update std_details set std_email = 'achu123@gmail.com' where id = 2"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount,"Record(s) affected")

1 Record(s) affected

Update query tp prevent sql injection

1) SQL Injection is a type of attack where an attacker is able to manipulate a web application's SQL query by injecting malicious SQL code through user input fields, which can lead to unauthorized access to a database, data modification, or even data destruction.
1) In the context of Python, SQL injection occurs when dynamic SQL queries are constructed by concatenating user input directly into a query string, without proper sanitization or validation. This allows attackers to inject harmful SQL code into the query, which can be executed by the database.

In [25]:
sql = "Update std_details set std_email = %s where id = %s"
val = ('achu@gmail.com',2)
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount,"Record(s) affected")

1 Record(s) affected

Delete query

In [30]:
sql = "Delete from std_details where id = 7 "
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount,"Record(s) affected")

0 Record(s) affected

In [34]:
sql = "delete from std_details where id = %s"
val = (5,)
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount,"Record(s) affected")

1 Record(s) affected

Sometimes error occur like this

1) The error you're encountering, ProgrammingError: Could not process parameters: int(5), it must be of type list, tuple or dict, happens because mysql-connector-python expects the parameters passed to execute() to be in the form of a tuple or list, even if you are passing a single value.

# General Explanation of code

In [ ]:
import mysql.connector  # or import MySQLdb for mysqlclient

# Connect to the MySQL database
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="yourpassword",
    database="yourdatabase"
)

# Create a cursor object using the connection
mycursor = mydb.cursor()

# Example of executing a query
mycursor.execute("SELECT * FROM your_table_name")

# Fetch all rows from the result of the query
results = mycursor.fetchall()

# Loop through and print the results
for row in results:
    print(row)

# Close the cursor and connection
mycursor.close()
mydb.close()

Creating a connection (mydb): We use mysql.connector.connect() to establish a connection to the database using the host, user, password, and database parameters.

Creating a cursor (mycursor): The cursor() method creates a cursor object, which we will use to execute SQL queries.

Executing SQL Queries:

The execute() method is used to run a SQL query (e.g., SELECT * FROM your_table_name).

Fetching Results:

We use fetchall() to retrieve all rows from the query result. There are other methods like fetchone() to fetch a single row or fetchmany(size) to fetch a specified number of rows.

Closing the Cursor and Connection: After interacting with the database, we close both the cursor and the connection to release resources.